<div class="header">
    <div class="overhide">
        <div class="logo-img">
            <div class="sections-vertical-align">
                <a href=""><img [src]="logoSmall" alt="#" height="75px"></a>
            </div>
        </div>
        <div class="sections-draggable" *ngIf="isMobileScreen(); else desktopContent">
            <div class="sections" #sectionsWrapper>
                <div class="sections-vertical-align">
                    <div class="main" (click)="scrollToElement('app-main')">Про нас</div>
                </div>
                <div class="sections-vertical-align">
                    <div class="services" (click)="scrollToElement('app-photo-gallery')">Послуги та ціни</div>
                </div>
                <div class="sections-vertical-align">
                    <div class="equipment" (click)="scrollToElement('app-equipment')">Обладнання</div>
                </div>
                <div class="sections-vertical-align">
                    <div class="masters" (click)="scrollToElement('app-masters')">Майстри</div>
                </div>
                <div class="sections-vertical-align">
                    <div class="advantages" (click)="scrollToElement('app-advantages')">Переваги</div>
                </div>
                <div class="sections-vertical-align">
                    <div class="sertificates" (click)="scrollToElement('app-sertificates')">Сертифікати</div>
                </div>
                <div class="sections-vertical-align">
                    <div class="ratings" (click)="scrollToElement('app-ratings')">Відгуки</div>
                </div>
                <div class="sections-vertical-align">
                    <div class="contacts" (click)="scrollToElement('app-location')">Контакти</div>
                </div>
            </div>
        </div>
        <div class="socials" *ngIf="isMobileScreen(); ">
            <div class="sections-vertical-align"><a href="https://www.instagram.com/sugar_berries/?hl=uk"><i class="bi bi-instagram"></i></a></div>
            <div class="sections-vertical-align"><a href="https://www.tiktok.com/@sugar_berries"><i class="bi bi-tiktok"></i></a></div>
        </div>
    </div>
</div>
<ng-template #desktopContent>
    <div class="sections-vertical-align sections-dropdown-menu">
        <i class="bi bi-list" (click)="dropdownmenuopen()"></i>
    </div>
    <div class="sections-dropdown" #sectionsDropdown>
        <div class="sections-vertical-align">
            <div class="main sections-dropdown-text">Про нас</div>
        </div>
        <div class="sections-vertical-align">
            <div class="services sections-dropdown-text">Послуги</div>
        </div>
        <div class="sections-vertical-align">
            <div class="equipment sections-dropdown-text">Обладнання</div>
        </div>
        <div class="sections-vertical-align">
            <div class="masters sections-dropdown-text">Майстри</div>
        </div>
        <div class="sections-vertical-align">
            <div class="advantages sections-dropdown-text">Переваги</div>
        </div>
        <div class="sections-vertical-align">
            <div class="sertification sections-dropdown-text">Сертифікати</div>
        </div>
        <div class="sections-vertical-align">
            <div class="prices sections-dropdown-text">Ціни</div>
        </div>
        <div class="sections-vertical-align">
            <div class="contacts sections-dropdown-text">Контакти</div>
        </div>
    </div>
</ng-template>