@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Parisienne&display=swap');

a {
    all: unset;
}

.header {
    top: 0;
    position: sticky;
    width: auto;
    background-color: white;
    box-shadow: 0 -10px 25px black;
    z-index: 1;
}
.overhide {
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: auto;
    height: auto;
    z-index: 10000;
}
.sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-wrap: nowrap;
    overflow-x: hidden;
    &-draggable {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow: hidden;
    }
    div {
        color: #5c463a;
        margin-left: 15px;
        font-size: 18px;
        border-bottom: 1px transparent solid;
        transition: all 0.13s ease-in-out;
        :hover {
            color: #cfaf9b;
            cursor: pointer;
            border-bottom: 1px #cfaf9b solid;
        }
    }
}

@media only screen and (max-width: 768px) {
    .header {
        justify-content: space-around;
    }
}

@media only screen and (max-width: 1260px) {
    .sections:hover {
        cursor: move;
    }
}

.sections-vertical-align {
    text-wrap: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-img {
    display: flex;
    justify-content: flex-start;
    :hover {
        cursor: pointer;
    }
}

.socials {
    display: flex;
    justify-content: space-around;
    i {
        color: #5c463a;
        margin: 20px;
        font-size: 18px;
        transition: 0.2s;

    }
    i:hover {
        cursor: pointer;
        color: #cfaf9b;
    }
}

.sections-dropdown {
    top: -250px;
    position: absolute;
    background-color: white;
    z-index: -1000;
    width: 100vw;
    text-align: center;
    transition: all 0.5s ease;
}

.sections-dropdown-menu{
    color: #5c463a;
    font-size: 36px;
    i {
        height: 36px;
    }
    margin: 0;
}

.sections-dropdown-text {
    padding: 5px;
    font-size: 16px;
}