<div class="advantages-wrapper">
    <div class="container">
        <div class="title">Чому обирають нас?</div>
        <div class="row">
            <div class="advantages-grid">
                <div class="advantages-item item-1">
                    <div class="advantages-item-icon"><i class="bi bi-person-fill-check"></i></div>
                    <div class="advantages-item-text">
                        <div class="advantages-item-text-title">Спеціалісти</div>
                        <div class="advantages-item-text-desc">Лікарі із вищою медичною освітою та досвідом роботи у своїй галузі не менше 3-х років</div>
                    </div>
                </div>
                <div class="advantages-item item-2">
                    <div class="advantages-item-icon"><i class="bi bi-star-fill"></i></div>
                    <div class="advantages-item-text">
                        <div class="advantages-item-text-title">Досвід</div>
                        <div class="advantages-item-text-desc">Вже більше 6 років у сфері б’юті індустрії та більше 40000 задоволених клієнтів</div>
                    </div>
                </div>
                <div class="advantages-item item-3">
                    <div class="advantages-item-icon"><i class="bi bi-database-fill"></i></div>
                    <div class="advantages-item-text">
                        <div class="advantages-item-text-title">Обладнання</div>
                        <div class="advantages-item-text-desc">Тільки оригінальні сертифіковані апарати визнані у всьому світі</div>
                    </div>
                </div>
                <div class="advantages-item item-4">
                    <div class="advantages-item-icon"><i class="bi bi-geo-alt-fill"></i></div>
                    <div class="advantages-item-text">
                        <div class="advantages-item-text-title">Локація</div>
                        <div class="advantages-item-text-desc">Три центри у м. Львів для зручності кожного</div>
                    </div>
                </div>
                <div class="advantages-item item-5">
                    <div class="advantages-item-icon"><i class="bi bi-calendar-week-fill"></i></div>
                    <div class="advantages-item-text">
                        <div class="advantages-item-text-title">Графік</div>
                        <div class="advantages-item-text-desc">Працюємо для вас з понеділка по суботу з 9:00-20:00</div>
                    </div>
                </div>
                <div class="advantages-item item-6">
                    <div class="advantages-item-icon"><i class="bi bi-cup-hot-fill"></i></div>
                    <div class="advantages-item-text">
                        <div class="advantages-item-text-title">Атмосфера</div>
                        <div class="advantages-item-text-desc">Привітний персонал, ароматна кава та красива музикa</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>