app-root {
    //background-color: #FEECE2;
    display: block;
}

html { 
    overflow-x: clip;
}

body {
    font-family: "El Messiri", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-image: linear-gradient(to right bottom, #FEECE2, #ffd8c5, #FEECE2);

}

