<div class="services-wrapper">
    <div class="services">
        <div class="services-title">
            <p>Наші послуги та ціни:</p>
        </div>   
        <ul class="services-list">
            <li pAnimateOnScroll enterClass="animate-in" leaveClass="animate-out">
                <a href="/hair-deletion">Видалення волосся: <br> електроепіляція, лазерна епіляція, віск/цукор</a>
            </li>
            <li pAnimateOnScroll enterClass="animate-in" leaveClass="animate-out">
                <a href="/endosphere">Ендосфера</a>
            </li>
            <li pAnimateOnScroll enterClass="animate-in" leaveClass="animate-out">
                <a href="/massage">Масаж</a>
            </li>
            <li pAnimateOnScroll enterClass="animate-in" leaveClass="animate-out">
                <a href="/tattoo-removal">Видалення тату та татуажу</a>
            </li>
            <li pAnimateOnScroll enterClass="animate-in" leaveClass="animate-out">
                <a href="/vessels-removal">Видалення судин, папілом та ангіом</a>
            </li>
            <li pAnimateOnScroll enterClass="animate-in" leaveClass="animate-out">
                <a href="/carbon-peeling">Карбоновий пілінг</a>
            </li>
        </ul>
    </div>
</div>