<div class="services-wrapper">
    <div class="services">
        <div class="services-title">
            <p>Наші послуги:</p>
        </div>   
        <ul class="services-list">
            <li pAnimateOnScroll enterClass="animate-in" leaveClass="animate-out">Видалення волосся: <br> електроепіляція, лазерна епіляція, віск/цукор</li>
            <li pAnimateOnScroll enterClass="animate-in" leaveClass="animate-out">Ендосфера </li>
            <li pAnimateOnScroll enterClass="animate-in" leaveClass="animate-out">Масаж</li>
            <li pAnimateOnScroll enterClass="animate-in" leaveClass="animate-out">Видалення тату та татуажу</li>
            <li pAnimateOnScroll enterClass="animate-in" leaveClass="animate-out">Видалення судин, папілом та ангіом</li>
            <li pAnimateOnScroll enterClass="animate-in" leaveClass="animate-out">Карбоновий пілінг</li>
        </ul>
    </div>
</div>