<div class="services-wrapper">
    <div class="services">
        <div class="services-title">
            <p>Наші послуги:</p>
        </div>
        <ul class="services-list">
            <li>Видалення волосся: <br> електроепіляція, лазерна епіляція, віск/цукор</li>
            <li>Ендосфера </li>
            <li>Видалення тату та татуажу</li>
            <li>Видалення судин, папілом та ангіом</li>
            <li>Масаж</li>
            <li>Карбоновий пілінг</li>
        </ul>
    </div>
</div>