<div class="container">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="row">
        <div class="col-xs-12">
            <div class="main-container">
                <div class="main-container-image-wrapper">
                    <img [src]="logoBig" alt="logoBig" class="main-container-image">
                </div>
                <div class="main-container-text">
                    <h1>"Шугар Беріз" - де естетика та здоров'я зливаються з комфортом та інноваціями</h1>
                    <h4>Раді вітати вас в "Шугар Беріз"! Ми використовуємо лише перевірені методики і обладнання та
                        пропонуємо широкий спектр послуг - від лазерної епіляції до видалення тату. З нами ви відчуєте
                        себе неперевершено кожну хвилину. Наша філософія - "Будь досконалою 24/7" - відображає наше
                        прагнення до високих стандартів у всьому, що ми робимо. Приходьте до нас та відчуйте гармонію
                        краси та здоров'я!
                    </h4>
                    <button class="btn main-container-text-button">Записатися на процедуру</button>
                </div>
            </div>

        </div>
    </div>
</div>