.main-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    &-image-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &-image {
        display: block;
        max-width: 320px;
        max-height: 100%;
        width: auto;
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    .main-container {
        flex-direction: column;
        &-image-wrapper {
            flex-direction: row;
        }
    }
}

.main-container-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #573f31;
    h1 {
        font-style: italic;
    }
    h4 {
        line-height: 25px;
    }
}
.main-container-text-button {
    background-color: #ffdecc;
    color: #573f31;
    border: 1px #573f31 solid;
    font-size: 15px;
    width: 200px;
    transition: all 0.1s ease-in-out;
    &:hover {
        transform: scale(105%);
    }
    
}

.wave {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 350%;
    height: 50em;
    animation: wave 10s -3s ease-in-out infinite;
    transform: translate3d(0, 0, 0);
    opacity: 1;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -17em;
    animation: wave 15s ease-in-out reverse infinite;
    opacity: 0.9;
}

.wave:nth-of-type(3) {
    bottom: -34em;
    animation: wave 20s -1s ease-in-out reverse infinite;
    opacity: 0.8;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}